services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: garage_user
      POSTGRES_PASSWORD: garage_password
      POSTGRES_DB: garage_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
